<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <!--Fontawesome-->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="img/logo-mercado-liebre.svg" alt="Logo de mercado liebre" />
      </div>
      <div>
        <input type="text" placeholder="Buscar productos, marcas" />
        <button><i class="fas fa-search"></i></button>
      </div>
      <div class="mensaje">
        <i class="fas fa-cash-register"></i>
        Compra en cuotas y sin tarjeta de credito
      </div>
      <div class="menu-opciones">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </div>
      <div class="menu-usuario">
        <ul>
          <li>
            <a href="#"> <i class="fas fa-id-card"></i> Crea tu cuenta</a>
          </li>
          <li>
            <a href="#"><i class="fas fa-sign-in-alt"></i> Ingresa</a>
          </li>
          <li>
            <a href="#"> <i class="fas fa-shopping-basket"></i> Mis compras</a>
          </li>
        </ul>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>

    <!--Basado en tu ultima visita-->
    <section id="main">
      <div class="card">
        <div class="card-image">
          <img
            src="img/img-cafetera-moulinex.jpg"
            height="300px"
            width="300px"
            alt="Imagen de la cafetera"
          />
        </div>
        <div class="card-body">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <p class="price">$6.770</p>
          <p class="offer">40% OFF</p>
          <p class="title">Cafetera Moulinex</p>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum nemo
            cupiditate deserunt minus est doloremque sunt itaque, adipisci non
            veniam ullam possimus sequi voluptas ad, consequatur porro
            recusandae iusto culpa.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img
            src="img/img-macbook-pro-2019.jpg"
            height="300px"
            width="300px"
            alt="Imagen de MacBook"
          />
        </div>
        <div class="card-body">
          <p class="price">$230.000</p>
          <p class="offer">20% OFF</p>
          <p class="title">MacBook Pro 2019</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img
            src="img/img-samsung-galaxy-s10.jpg"
            height="300px"
            width="300px"
            alt="Imagen de Samsung Galaxy"
          />
        </div>
        <div class="card-body">
          <p class="price">$70.500</p>
          <p class="offer">10% OFF</p>
          <p class="title">Samsung Galaxy S10</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img
            src="img/img-tv-samsung-smart.jpg"
            height="300px"
            width="300px"
            alt="Imagen de SmartTv"
          />
        </div>
        <div class="card-body">
          <p class="price">$23.200</p>
          <p class="offer">5% OFF</p>
          <p class="title">SmartTv Samsung 43"</p>
        </div>
      </div>
    </section>

    <footer>
      <div class="icon">
        <i class="fas fa-credit-card"></i>
      </div>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p class="info">
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>

      <div class="icon">
        <i class="fas fa-gift"></i>
      </div>
      <h3>Envío gratis desde $ 2.500</h3>
      <p class="info">
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>

      <div class="icon">
        <i class="fas fa-user-shield"></i>
      </div>
      <h3>Seguridad, de principio a fin</h3>
      <p class="info">
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>

      <h3 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </footer>
  </body>
</html>
